body {
    background-color: lightsteelblue;    
}

h1 {
    color: blue;
    text-align: center;
    font-size: 50px; 
    letter-spacing: 2px; 
    line-height: 3.0;  
}

p {
    text-align: center;
    font-size: 20px;
    line-height: 1.0;
}

p.handle {
    text-align: center;
    font-size: 30px;
    line-height: 2.0;
}

p.pictext {
    font-size: 15px;
    line-height: 1.0;
}


.columnL {
    float:left;
    width: 600px;
    
}

.columnR {
    float:right;
    width: 600px;
    
}
img#seoul {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 500px;
}

img#cats {    
    width: 500px;
}

#places {
    float: left;
    width: 350px;
    margin: 20px;
}

#movies {
    float: left;
    width: 350px;
    margin: 20px;
}

#jobs {
    float: left;
    width: 350px;
    margin: 20px;
}

.listHeader {
    font-weight: bold;
    font-size: 20px;
}

li {
    font-size: 15px;
}